<div class="form-row">
    <h5>Add the next Action</h5><br>
</div>
<div class="form-group">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> Name</span>
        </div>
        <input type="text" max="12" class="form-control is-valid" aria-label="Default"
            aria-describedby="inputGroup-sizing-default" [(ngModel)]="action.name" />
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Effort</span>
        </div>
        <input type="number" [(ngModel)]="action.efford" min="1" max="17" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Members</span>
        </div>
        <input type="number" [(ngModel)]="action.members" min="1" max="17" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Time</span>
        </div>
        <input type="text" readonly [(ngModel)]="action.time" max="17" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default">
    </div>


    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" [(ngModel)]="action.description" id="exampleFormControlTextarea1"
            rows="3"></textarea>
    </div>
</div>
<div class="form-row">
    <div class="col-xs-6">
        <button type="submit" class="btn btn-primary" [class.fa-spin]="readonly" [disabled]="readonly"
            (click)="submit()">Submit</button>
    </div>
    <div class="col-xs-6">
        <button type="submit" class="btn btn-default" (click)="clear()" [disabled]="readonly">Cancel</button>
    </div>
</div>